.button {
  display: block;
  padding: 20px;
  padding-top: 19px;
  width: 264px;
  box-sizing: border-box;

  font-family: $standard-font;
  font-size: 17px;
  line-height: 20px;
  color: $btn-color;
  font-weight: $font-medium;
  text-align: center;
  text-transform: lowercase;
  font-variant: small-caps;
  text-shadow: $shadow-text;

  background: $btn-background;
  border: none;
  border-radius: 80px;

  cursor: pointer;

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 18px;
    padding-bottom: 17px;
    width: 230px;
  }

  &:hover,
  &:focus {
    background: $btn-background--hover;
  }

  &:active {
    background: $btn-background--active;
  }
}

.button-svg {
  margin-right: 8px;

  fill: $white;
}

@media (max-width: $mobile-width) {
  .button {
    &--icon {
      width: 264px;
    }
  }
}
