.logo {
  display: block;
  padding-right: 5px;
  width: 137px;
  box-sizing: content-box;

  &--gray {
    padding: 0;
    width: 85px;
  }
}

.logo__image {
  width: 100%;
  height: auto;
}

@media (max-width: $mobile-width) {
  .logo {
    width: 120px;
    padding-right: 0;

    &--gray {
      width: 99px;
    }
  }
}
