.reviews {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  margin-bottom: -9px;
  padding-left: calc(50% - 585px);
  padding-right: calc(50% - 499px);
  padding-top: 0;
  padding-bottom: 28px;

  background-image: url("../img/bg-reviews-sketch@1x.png"), url("../img/bg-reviews@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 56px right, top 38px right;
  background-size: 523px, 1259px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-reviews-sketch@2x.png"), url("../img/bg-reviews@2x.jpg");
  }
}

.reviews__title {
  margin-bottom: 8px;
  padding-left: 84px;
  width: 100%;

  text-align: center;
}

.reviews__container {
  width: 100%;
}

.reviews__blockquote {
  margin: 0;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  color: rgba($color--dark, 0.74);
}

.blockquote__image {
  margin-right: 40px;
}

.blockquote__content {
  padding-bottom: 80px;
}

.blockquote__author {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 31px;
}

.blockquote__name {
  margin-bottom: 9px;

  font-size: 24px;
  line-height: 36px;
  font-weight: $font-medium;
  font-style: normal;
}

.blockquote__program {
  font-size: 15px;
  line-height: 21px;
  font-style: normal;
}

.blockquote__program-highlight {
  margin-right: 9px;

  color: $color--emphasis;
}

.blockquote__text {
  margin: 0;
  margin-bottom: 17px;

  font-size: 17px;
  line-height: 29px;

  &:last-child {
    margin-bottom: 16px;
  }
}

.blockquote__link {
  display: block;

  font-size: 17px;
  line-height: 25px;
  color: $color--emphasis;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: #63d3fd;
  }
}

.reviews__pagination {
  left: 404px;
  width: 36px;

  font-family: $standard-font;
  font-size: 17px;
  line-height: 25px;
  color: rgba($color--dark, 0.5);
}

.reviews__button {
  top: auto;
  bottom: 5px;
  left: 459px;
  right: auto;
  z-index: 2;

  width: 17px;
  height: 16px;
  margin-top: 8px;
  color: rgba($color--dark, 0.2);

  &::after {
    font-size: 16px;
  }

  &--next {
    left: 488px;
  }

  &:hover,
  &:focus,
  &:active {
    color: $blue;
  }
}

.reviews__socials {
  position: relative;
  z-index: 2;

  margin-top: -25px;
  margin-left: auto;
}


@media (max-width: $tablet-width) {
  .reviews {
    margin-bottom: 10px;
    padding: 50px;
    padding-bottom: 28px;

    background-position: top 56px right, top 38px right;
    background-size: 439px, 1259px;
  }

  .reviews__title {
    padding-left: 0;
  }

  .blockquote__content {
    padding-bottom: 50px;
  }
}

@media (max-width: 899px) {
  .blockquote__image {
    width: 264px;
    height: auto;
  }

  .reviews__pagination {
    left: 304px;
  }

  .reviews__button {
    left: 359px;

    &--next {
      left: 388px;
    }
  }
}

@media (max-width: $mobile-width) {
  .reviews {
    flex-direction: column;

    margin-bottom: 78px;
    padding: 0 16px;

    background-position: top 526px left 32px, top 711px right -59px;
    background-repeat: repeat-x, no-repeat;
    background-size: 439px, 560px;
  }

  .reviews__title {
    margin-bottom: 24px;
  }

  .reviews__blockquote {
    align-items: center;
    flex-direction: column;
  }

  .blockquote__content {
    padding-bottom: 0;
  }

  .blockquote__image {
    margin-right: 0;
    margin-bottom: 24px;
    padding-bottom: 34px;
    width: auto;
    height: 320px;
  }

  .blockquote__author {
    margin-top: 0;
    margin-bottom: 23px;
  }

  .blockquote__program {
    display: block;

    font-size: 14px;
    line-height: 22px;
  }

  .blockquote__program-highlight {
    display: block;
    margin-right: 0;
  }

  .blockquote__text {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 26px;

    &:last-of-type {
      margin-bottom: 25px;
    }
  }

  .blockquote__link {
    margin-bottom: 22px;

    font-size: 16px;
    line-height: 24px;
  }

  .reviews__pagination {
    bottom: auto;
    top: 329px;
    left: calc(50% - 48px);
  }

  .reviews__button {
    bottom: auto;
    left: auto;
    top: 325px;
    right: calc(50% - 24px);

    &--next {
      right: calc(50% - 53px);
    }
  }

  .reviews__socials {
    margin: 0;
    margin-left: -4px;
  }
}
