.video {
  position: relative;
}

.video__play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;

  display: block;
  width: 96px;
  height: 96px;
  padding: 16px;


  background-color: rgba($white, 0.32);
  border-radius: 50%;

  transform: translate(-50%, -53%);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;

    width: 64px;
    height: 64px;

    background-color: $background-color;
    border-radius: 50%;

    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus,
  &:active {
    &::after {
      width: 66px;
      height: 66px;

      box-shadow: $shadow-icon;
    }
  }

  &:active {
    &::after {
      background-color: #f4f4f4;
    }
  }
}

.video__play-svg {
  position: relative;
  z-index: 4;

  margin-left: 27px;
  margin-top: 22px;
  margin-right: 22px;

  fill: $blue;
}

.video__play-button:hover .video__play-svg,
.video__play-button:focus .video__play-svg {
  fill: #63d3fd;

  margin-left: 28px;
  margin-top: 23px;
  margin-right: 23px;
}

.video__play-button:active .video__play-svg {
  fill: $blue;
}

@media (max-width: 970px) {
  .video {
    width: 100%;
  }

  .video__image {
    width: 100%;
    height: auto;
  }
}

@media (max-width: $mobile-width) {
  .video {
    width: 100%;
  }

  .video__image {
    width: 100%;
    height: auto;
  }

  .video__play-button {
    width: 80px;
    height: 80px;
    padding: 13px;

    &::after {
      width: 54px;
      height: 54px;
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        width: 56px;
        height: 56px;
      }
    }
  }

  .video__play-svg {
    width: 12px;
    height: 15px;
    margin-left: 23px;
    margin-top: 19px;
    margin-right: 19px;
  }

  .video__play-button:hover .video__play-svg,
  .video__play-button:focus .video__play-svg {
    margin-left: 24px;
    margin-top: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 450px) {
  .video {
    width: 100%;
  }

  .video__image {
    width: 100%;
    height: 224px;
  }

  .video__play-button {
    top: 80px;

    transform: translate(-50%, 0);
  }
}
