/* Базовый шрифт */

$standard-font: "Open Sans", "Verdana", sans-serif;
$font-size: 16px;
$line-height: 28px;

$font-normal: 400;
$font-light: 300;
$font-semibold: 600;
$font-bold: 700;

/* Точки перехода */

$tablet-only-width: 768px;
$desktop-width: 1024px;
$mobile-only-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;

/* Ретина */

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

/* Основные цвета */

$white: #ffffff;
$black: #000000;
$dark: #131314;
$gray: #1c1c1c;
$gray-light: #f6f6f6;
$gray-lighten: #f6f7f9;
$gray-dark: #1f1f1f;

$turquoise: #0ad9c6;

/* Основные цвета фонов */

$background-color: $white;
$background-color--gray: $gray-light;
$background-color--gray-light: $gray-lighten;
$background-color--dark: $dark;

/* Основные цвета текста */

$color--base: $black;
$color--light: $gray;
$color--white: $white;
$color--dark: $gray-dark;

$color--bright: $turquoise;

/* Основные цвета ссылок */

/* Основные цвета кнопок */

$btn-background: $turquoise;
$btn-background--hover: lighten($turquoise, 10);

$btn-color: $color--base;

/* Свойства полей ввода */
$input-color: $gray;

$input-border: 1px solid #c9ccd4;

$input-background: $background-color;
